<div class="container">
    <h1>Modifier un Compte</h1>
    <form (ngSubmit)="updateCompte()" #compteForm="ngForm">
        <div class="mb-3">
            <label for="rib" class="form-label">RIB</label>
            <input type="text" id="rib" name="rib" class="form-control" [(ngModel)]="compte.rib" readonly />
        </div>
        <div class="mb-3">
            <label for="solde" class="form-label">Solde</label>
            <input type="number" step="0.01" id="solde" name="solde" class="form-control" [(ngModel)]="compte.solde"
                required />
        </div>
        <div class="mb-3">
            <label for="clientCin" class="form-label">CIN Client</label>
            <input type="text" id="clientCin" name="clientCin" class="form-control" [(ngModel)]="compte.client.cin"
                readonly />
        </div>
        <div class="mb-3">
            <label for="clientNom" class="form-label">Nom Client</label>
            <input type="text" id="clientNom" name="clientNom" class="form-control" [(ngModel)]="compte.client.nom"
                readonly />
        </div>
        <div class="mb-3">
            <label for="clientPrenom" class="form-label">Prénom Client</label>
            <input type="text" id="clientPrenom" name="clientPrenom" class="form-control"
                [(ngModel)]="compte.client.prenom" readonly />
        </div>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <button type="button" class="btn btn-secondary" (click)="cancel()">Annuler</button>
    </form>
</div>